In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tflearn
from sklearn.preprocessing import StandardScaler

In [2]:
newdat = pd.read_csv('database.csv')

In [3]:
newdat.head(5)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [4]:
newdat.loc[:,('Epoch')] = np.zeros(newdat.shape[0])

In [5]:
import time 

datestr = newdat['Date'][0] + ' '+ newdat['Time'][0]
print(datestr)

pattern = '%m/%d/%Y %H:%M:%S'
epoch = int(time.mktime(time.strptime(datestr, pattern)))
print(epoch)

for index,row in newdat.iterrows():
    try:
        datestr = row['Date'] + ' '+ row['Time']
        epoch = int(time.mktime(time.strptime(datestr, pattern)))
        newdat.loc[index,('Epoch')]=epoch
    except:
        continue

 #['Epoch'][0]= epoch

01/02/1965 13:44:18
-157601742

In [6]:
finaldat = newdat[['Epoch', 'Latitude', 'Longitude', 'Magnitude']]

In [7]:
finaldat.head(5)

         Epoch  Latitude  Longitude  Magnitude
0 -157601742.0    19.246    145.616        6.0
1 -157437011.0     1.863    127.352        5.8
2 -157326842.0   -20.579   -173.972        6.2
3 -157065017.0   -59.076    -23.557        5.8
4 -156997630.0    11.938    126.427        5.8

In [8]:
scaled = StandardScaler().fit_transform(finaldat)

In [9]:
scaled

array([[-1.94931929,  0.58337712,  0.84436817,  0.27766792],
       [-1.9489575 ,  0.00610931,  0.69884905, -0.19508206],
       [-1.94871554, -0.7391616 , -1.70196151,  0.7504179 ],
       ...,
       [ 1.65373542,  1.17023895,  0.80301824,  0.04129293],
       [ 1.65400312, -0.35557722,  0.62962628,  0.98679288],
       [ 1.65417418,  1.18615923,  0.81085909, -0.90420703]])

In [10]:
from sklearn.model_selection import train_test_split

x1,x2,x3,y = scaled.T

In [11]:
x = np.delete(scaled, [3], axis=1)

In [12]:
x_train,x_test, y_train , y_test = train_test_split(x,y,test_size=0.15)

In [31]:
y_train.max()

7.605292568902505

In [25]:
def build_model():
    # This resets all parameters and variables, leave this here
    tf.reset_default_graph()
    
    # Inputs
    net = tflearn.input_data([None, 3])

    # Hidden layer(s)
    net = tflearn.fully_connected(net, 200, activation='ReLU')
    net = tflearn.fully_connected(net, 25, activation='ReLU')

    # Output layer
    net = tflearn.fully_connected(net, 1, activation='linear')
    net = tflearn.regression(net, optimizer='adam', 
                             learning_rate=0.1, 
                             loss='mean_square')
    
    model = tflearn.DNN(net)
    return model

In [26]:
model = build_model()

In [28]:
y_train.T.shape

(1, 19900)

In [29]:
model.fit(x_train, y_train, validation_set=0.1, show_metric=True, batch_size=128, n_epoch=10)

Training Step: 1399  | total loss: 1.06417 | time: 0.528s
| Adam | epoch: 010 | loss: 1.06417 - binary_acc: 0.0000 -- iter: 17792/17910
Training Step: 1400  | total loss: 1.03823 | time: 1.545s
| Adam | epoch: 010 | loss: 1.03823 - binary_acc: 0.0000 | val_loss: 1.00331 - val_acc: 0.0000 -- iter: 17910/17910
--